@charset "utf-8";
/* CSS Document */
body, td, th, p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: white;
	margin: 0;
	position: relative;
}
/* prevent overflowing */
img, embed, object, video {
	max-width: 100%
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #333;
}
a {
  color: white;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #333;
  color: white;
  font-size: 0.5em;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
}
/* === Navigation ====================== */
nav {
  width: 100%;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 1em;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
  padding: 1.5em; /* touch target sizing */
}
/* === Map ====================== */
#map {
  height: 300px;
  width: 100%;
}
/* === Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 50px;
  background-color: #333;
}
.filter-options h2 {
  color: white;
  font-size: 1em;
  font-weight: normal;
  line-height: 1;
  padding-top: 8px;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 2px solid #bbb;
  font-family: Arial,sans-serif;
  font-size: 1em;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  width: 40%;
  max-width: 400px;
  z-index: 3;
}
.select-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* === Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 6px 6px 6px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#restaurants-list li {
  background-color: white;
  border: 2px solid #bbb;
  font-family: Arial,sans-serif;
  margin: 2px;
  min-height: 380px;
  min-width: 200px;
  max-width: 400px;
  padding: 1px auto 1px auto;
  text-align: left;
  width: 90%;
}
#restaurants-list .restaurant-img {
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
}
#restaurants-list li h1 {
  color: #B16316;
  font-family: Arial,sans-serif;
  font-size: 1em;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 1em;
}
#restaurants-list li a {
  background-color: #B16316;
  border-bottom: 2px solid #bbb;
  color: #fff;
  display: inline-block;
  font-size: 0.8em;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.restaurant-info {
  margin: 4px 4px 4px 4px
}
